{% extends layout %}
    {% set breadcrumbsModelName = 'model.'~modelName~'.modelName' %}
    {% set breadcrumbs = {'name': breadcrumbsModelName|trans, 'min': 'crud.base.create'|trans } %}
{% block content %}
    <div class="row">
    <div class="col-md-3">

        <div class="box box-primary">
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle"
                     src="{{ asset('admin-lte/dist/img/user2-160x160.jpg', 'asset.bower') }}"
                     alt="User profile picture">
                <ul class="list-group list-group-unbordered"></ul>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="{{ 'active' }}"><a href="#info" data-toggle="tab" aria-expanded="true">Информация профиля</a>

                    <form action="{{ url( modelName ~'.create') }}" method="post">
                        {% include 'widget/'~modelName~'/_form.html.twig' with {'data': data} %}
                    </form>

                </li>
            </ul>
            <div class="tab-content">
            </div>
            <div class="tab-pane" id="change-password">
            </div>
        </div>
    </div>
{% endblock %}